{{template "base" .}}

{{define "title"}}Buchung Loeschen{{end}}

{{define "main"}}
<form action='/booking/delete' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <div>
        <input type='hidden' name='id' value='{{.Get "id"}}'>
    </div>
    <div>
        <input type='submit' value='Delete'>
    </div>
    {{end}}
</form>
               <div>
                    <a href='/bookings?year=2021'class="button">Cancel</a>
               </div>
{{end}}
