{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Buchungen</h2>
    <a href='/bookings?year=2020'>Übersicht 2020</a>
    <div>
    <a href='/bookings?year=2021'>Übersicht 2021</a>
{{end}}
