{{template "base" .}}

{{define "title"}}Statistik{{end}}

{{define "main"}}
    {{with .BookingStatistics}}
    <h2>Statistik</h2>

    <pre><code>Anzahl Buchungen      {{ .Count}}                 </code></pre>
    <pre><code>Anzahl gebuchter Tage {{ .TotalAllocationDays}} </code></pre>
    <pre><code>Total Income          {{displayMoney .TotalIncome}}         </code></pre>
    <pre><code>Total Provision       {{displayMoney .TotalProvision}}      </code></pre>

    {{end}}
{{end}}
