{{template "base" .}}

{{define "title"}}Upload File{{end}}

{{define "main"}}
    <h2>Upload File</h2>

     <form
          enctype="multipart/form-data"
          action="/upload"
          method="POST"
        >
          <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <input type="file" name="file" />
          <input type="submit" value="upload" />
        </form>

{{end}}
